h1 {
    text-align: center;
}

.container {
    max-width: 2000px;
    margin: auto;
    /* position: relative; */
    /* border: black solid 2px; */
    display: grid;
    /* padding: 10px 10px 10px 10px; */
    /* border: 2px solid #111;
    border-radius: 5px; */
}

#find-me, #status {
    /* text-align: center; */
    margin: auto;
}

#status {
    padding: 10px 0;
}

table {
    border: black solid 1px;
}

th, td{
    padding: 10px 20px;
    border: 1px solid #000;
    text-align: center;
}

.tooltip {
  margin: auto;
  text-align: right;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: grey;
  color:white;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}